.{
  margin: 10%;
  padding: 10%;
}

.container{
  text-align: center;
  margin: 10%;
  padding: 10%;
  border-radius: 30%;
}

.boxOne{
  background-color: blue;
  margin: 10%;
  padding: 10%;
  border-radius: 30%;
}

.boxTwo{
  background-color: cyan;
  margin: 10%;
  padding: 10%;
}

#txt{
  color: black;
}
